melb_airbnb_covid/*.csv
melb_airbnb_covid/*/*.csv
COVID_SIR/data/owid-covid-data.csv
COVID_SIR/data/*
wordle/wordle
wordle/.ccls-cache*
wordle/.ccls-cache/*
wordle/.ipynb_checkpoints/*
afl_model/**/*.RData
afl_model/**/*.pdf
**/.Rhistory
